<div id="<%= dom_id conversation %>">
  <p class="my-5">
      <sm><%= time_ago_in_words(conversation.messages.last.created_at) %></sm>
    <% if not conversation.product.active %>
      <sm class="text-xs line-through">Closed Ad</sm>
    <%  end%>
    <sm><%= other_user(conversation)&.user_name%></sm>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= conversation.product.title %>
  </p>

  <% if conversation.product.images.present? %>
      <%= image_tag(conversation.product.images.first.variant(:thumb)) %>
  <% end %>

  <%= conversation.messages&.last&.content %></p>

<%= render partial: "/layouts/avatar", locals: {css_class: "xs", user: other_user(conversation)} %>
<%= render partial: "/layouts/avatar", locals: {css_class: "xs", user: current_user} %>

  <% if action_name != "show" %>
    <%= link_to "Show this conversation", conversation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
