<%= link_to conversation, id: dom_id(conversation), class: "w-full hover:bg-gray-400 "  do  %>
<div class="w-full flex-none flex my-4 pb-4  border-b border-gray-200 ">
    <div class="flex-none w-1/5 relative h-24 overflow-hidden">
      <div class="absolute bottom-0 right-0 w-auto ">
        <%= render partial: "/layouts/avatar", locals: {css_class: "xs", user: other_user(conversation)} %>
      </div>
      <% if conversation.product.images.present? %>
          <%= image_tag(conversation.product.images.first.variant(:thumb), class: "w-full h-24 w-auto rounded") %>
      <% end %>
    </div>

    <div class="flex-non w-4/5  px-2 py-1">
        <div class ="flex">
            <div class="flex-none w-1/2"><%= other_user(conversation)&.user_name.capitalize%></div>
            <div class="flex-none w-1/2 text-right text-green-600"><%= conversation.messages.last.created_at.strftime("%b %d") %></div>
        </div>
        <div>
          <% if not conversation.product.active %>
            <p class="line-through text-gray-400 text-lg">
              Closed Ad:&nbsp;
              <%= conversation.product.title %>
            </p>
          <% else %>
            <p class="font-bold text-lg"><%= conversation.product.title %></p>
          <%  end%>
        </div>
        <div class="text-base w-10/12 truncate whitespace-nowrap overflow-hidden"><p><%= truncate(conversation.messages&.last&.content , length: 50)%></p></div>
    </div>
</div>

<% end %>
